<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>SearchChecker</servlet-name>
        <servlet-class>controller.SearchChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheckerR</servlet-name>
        <servlet-class>controller.LoginCheckerR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCheckerR</servlet-name>
        <servlet-class>controller.RegisterCheckerR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCheckerA</servlet-name>
        <servlet-class>controller.RegisterCheckerA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheckerA</servlet-name>
        <servlet-class>controller.LoginCheckerA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchChecker</servlet-name>
        <url-pattern>/SearchChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheckerR</servlet-name>
        <url-pattern>/LoginCheckerR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCheckerR</servlet-name>
        <url-pattern>/RegisterCheckerR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCheckerA</servlet-name>
        <url-pattern>/RegisterCheckerA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheckerA</servlet-name>
        <url-pattern>/LoginCheckerA</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
